.countscard{
    height: 400px;
    width: 500px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color:lightgray;
}
.countsscrollbox{
    height: 290px;
    width: 500px;
    overflow-y: scroll;
    overflow-x: hidden;

}
.cardtext {
    padding: 10px;
    font-weight: bold;
}
@media screen and (max-width:480px) {
    .countscard {
        width: 350px;
       
    }
    .countsscrollbox{
        width: 350px;
    }
}