.container5 {
    max-width: 1440px;
    margin: 0 auto;
}
.cta-bg {
    background: url('https://images.unsplash.com/photo-1586920740280-e7da670f7cb7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80') no-repeat;
    height: 500px;
    background-size: cover;
    background-position: center;
    position: relative;
}
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}
.cta-text {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 500px;
    text-align: center;
}
.cta-text h2 {
    margin: 0;
}
.cta-btn {
    background: #fff;
    display: inline-block;
    padding: .5rem 1rem;
    text-decoration: none;
    color: #333;
    border: 2px solid transparent;
    transition: 0.3s;
    margin-top: 1rem;
    border-radius: 5px;
    text-transform: uppercase;
}
.cta-btn:hover {
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
}
@media screen and (max-width: 480px) {
    .cta-text {
        padding: 0 2rem;
    }
}