.container6 {
    max-width: 1440px;
    margin: 0 auto;
}
.content-con {
    display: flex;
    justify-content: space-between;
}
.content-con:first-child, .content-con:last-child {
    padding: 5rem 0;
}
.content-l img {
    width: 60%;
    border-radius: 20px;
    margin-left: 2rem;
}
.content-r {
    padding: 2rem;
    text-align: left;
}
.FiCode {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
@media screen and (max-width:480px) {
    .content-con {
        flex-direction: column;
    }
    .content-con:nth-child(2) .content-r {
        order: 1;
    }
}
