.container7 {
    max-width: 1440px;
    margin: 0 auto;
    z-index: 10;
}
.header {
    background: black;
    height: 80px;
}
.header-con{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.logo-container a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
    margin-left: 1rem;
}
.menu {
    display: flex;
    list-style-type: none;
}
.menu li {
    padding-right: 2rem;
}
.menu li a {
    text-decoration: none;
    color: #fff;
}
.mobile-menu {
    display: none;
}

@media screen and (max-width: 480px) {
    .mobile-menu {
        display: block;
        color: #fff;
        font-size: 2rem;
    }
    .header {
        padding: 0 2rem;
    }
    .menu {
        width: 100%;
        height: auto;
        display: flex;
        position: absolute;
        flex-direction: column;
        top: 64px;
        left: -100%;
        opacity: 0;
        transition: 0.5s ease;
    }
    .menu.active {
        background: #111;
        left: 0;
        opacity: 1;
        z-index: 1;
        align-content: center;
        transition: 0.5s ease;
        padding-left: 0;
    }
    .menu li {
        padding-right: 0;
    }
    .menu-link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10vw;
        padding: 10px 0;
    }
    .logo-container a {
        margin-left: 0rem;
    }
}