.container3 {
    max-width: 970px;
    margin: 0 auto;
}
.about-con {
    display: flex;
    justify-content: space-between;
}
.about-con:first-child, .about-con:last-child {
    padding: 4rem 0;
}
.about-l1 img {
    width: 70%;
    height: 90%;
    margin-left: 2rem;
}
.about-l2 img {
    width: 80%;
    height: 80%;
    margin-left: 1rem;
}
.about-l3 img {
    width: 80%;
    height: 80%;
    margin-left: 1rem;
}
.about-r1 {
    margin-top: 3rem;
    padding: 1rem;
    text-align: left;
}
.about-r2 {
    margin-top: 3rem;
    padding: 1rem;
    text-align: left;
    margin-left: 3rem;
}
.about-r3 {
    width: 30%;
    height: 30%;
    margin-left: 1rem;
}

@media screen and (max-width:480px) {
    .about-con {
        flex-direction: column;
    }
    .about-con:nth-child(2) .about-r {
        order: 1;
    }
    .about-l2 img {
        margin-left: 2.5rem;
    }
    .about-r2 {
        margin-left: 1rem;
    }
    .about-r1 {
        margin-left: 1rem;
    }
    .about-l1 {
        margin-left: 2rem;
    }

    .about-r3 {
        margin-left: 0.5rem;
       
    }
    .about-l3 {
        margin-left: 0rem;
        margin-top: 1rem;
    }
}