.container1 {
    max-width: 1150px;
    margin: 0 auto;
}
.area-con {
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
}
.area-con:first-child, .area-con:last-child {
    padding: 4rem 0;
}
.AdjMeter {
    display: none;
}
.AdjMeterXL {
    padding-top: 0rem;
}
.area-l {
    padding-left: 1rem;
}
.AdjBox {
    margin-left: 3.5rem;
}
.AdjChart {
    margin-top: 3rem;
    margin-left: 15%;
}
@media screen and (max-width:480px) {
    .area-con {
        flex-direction: column;
    }
    .area-con:nth-child(2) .ourteam-r {
        order: 1;
    }
    
    .AdjMeter {
        display: flex;
        margin-top: 1rem;
    }
    .AdjMeterXL {
        display: none;
    }
    .AdjBox {
        margin-left: 3.5rem;
    }
    .AdjCol {
        padding: 1rem;
    }
    .area-l {
        padding-left: 0rem;
    }
    .AdjChart {
        display: none;
    }
}