.container2 {
    max-width: 1440px;
    margin: 0 auto;
}
.ourteam-con {
    display: flex;
    justify-content: space-between;
}
.ourteam-con:first-child, .ourteam-con:last-child {
    padding: 5rem 0;
}
.ourteam-l img {
    width: 60%;
    border-radius: 20px;
    margin-left: 2rem;
}
.ourteam-r {
    padding: 1rem;
    text-align: left;
}
.FiCode {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
@media screen and (max-width:480px) {
    .ourteam-con {
        flex-direction: column;
    }
    .ourteam-con:nth-child(2) .ourteam-r {
        order: 1;
    }
    .outteam-l img {
        margin-left: auto;
    }
}